
* {
    padding: 0;
    -ms-touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
    
  body {
      font-family: "Roboto"!important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #191919;
      margin: 0;
      display: block;
  }
  
  .fcwZSh {
    background: rgb(12, 15, 18);
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  
  
  
  
  .top-bg {
    width: 100%;
    background: rgb(31, 39, 43);
    text-align: center;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    clip-path: ellipse(100% 75% at 50% 15%);
    margin: 0px auto;
    height: 230px;
  }
  
  .back-arrow {
    position: absolute;
    left: 2rem;
    top: 40px;
    cursor: pointer;
    width: 28px;
    height: 30px;
    display: none;
  }
  
  .logo {
    position: relative;
    top: 30px;
    max-height: 35px;
    height: 80px;
  }
  
  .crown-img {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  
  .offer-container {
    padding: 0px 20px 20px;
    position: relative;
    top: -100px;
    width: 55%;
    margin: 0px auto;
  }
  
  .offer-card{
      background: rgb(21, 26, 31);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
      border-radius: 12px;
      padding: 20px 0px;
      box-sizing: border-box;
      margin-bottom: 26px;
      position: relative;
  }
  
  .card-header{
    text-align: center;
    padding: 0px 20px;
  }
  
  
  .card-header .header-title {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  
  .card-header .header-title p {
    font-weight: bold;
    color: rgb(235, 29, 34);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
  }
  
  .card-header .header-title img {
    margin-left: 8px;
  }
  
  .card-header small {
    color: rgb(190, 193, 194);
    font-size: 14px;
  }
  
  .table-wrapper {
    padding: 0px 20px;
  }
  
  .table-wrapper table {
    width: 100%;
    margin: 15px 0px 20px;
    box-sizing: border-box;
    border-collapse: collapse;
  }
  
  .table-wrapper table thead {
    border-bottom: 1px solid rgb(31, 39, 43);
  }
  
  .table-wrapper table th {
    font-style: italic;
    font-weight: bold;
    color: rgb(129, 140, 148);
    padding: 10px 0px;
    font-size: 14px;
  }
  
  
  .table-wrapper table .premium {
    color: rgb(235, 29, 34);
    font-style: italic;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 14px;
  }
  
  .table-wrapper table tbody::before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
  }
  
  
  .table-wrapper table td {
    line-height: 200%;
    color: rgb(190, 193, 194);
    font-size: 14px;
  }
  
  .align-center {
    text-align: center;
  }
  
  .align-left {
    text-align: left;
  }
  
  .plan-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: wrap;
    padding: 0px 7.5px;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .sub-plan {
    margin-right: 24px;
  }
  
  .sub-plan .selected-cards {
    border: 2px solid rgb(235, 29, 34);
    color: rgb(222, 222, 222);
    width: 120px;
    height: 130px;
  }
  
  .sub-plan .plans-cards {
    /* width: 110px;
    height: 120px; */
    background: rgb(21, 26, 31);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
  }
  
  .sub-plan .best__value {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 6px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    bottom: -12px;
    background: rgb(235, 29, 34);
    font-size: 10px;
  }
  
  .sub-plan .plans-cards img {
    position: absolute;
    top: -1px;
    right: -1px;
    overflow-clip-margin: content-box;
    overflow: clip;
    cursor: pointer;
  }
  
  .sub-plan .not-selected-cards {
    border: 1px solid rgb(31, 39, 43);
    color: rgb(190, 193, 194);
    background-color: white;
  }
  
  .sub-plan .plans-cards .period {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 14px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .sub-plan .plans-cards .price {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .sub-plan .plans-cards .price .original-price {
    text-decoration: line-through;
    margin: 2px;
    color: rgb(157, 160, 163);
    font-size: 14px;
  }
  
  .sub-plan .plans-cards .price .paybale-price {
    margin: 2px;
  }
  
  .sub-plan .plans-cards .discount {
    font-size: 12px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .sub-plan1 {
    height: 46px;
    margin-bottom: 0px;
  }
  
  .sub-plan1 .validity-wrapper.align-center {
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .sub-plan1 .validity-wrapper {
    background: rgb(31, 39, 43);
    left: 0px;
    border-radius: 0px 0px 12px 12px;
    padding: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: rgb(190, 193, 194);
    font-size: 10px;
    box-sizing: border-box;
  }
  
  .sub-plan1 .validity-wrapper span {
    font-style: italic;
  }
  
  .sub-plan1 .align-center {
    text-align: center;
  }
  
  .term-conditions {
    color: rgb(190, 193, 194);
    font-size: 14px;
  }
  
  .term-conditions li ::marker{
    padding-left: 20px;
    text-indent: -16px;
    list-style-position: outside !important;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
  
  .term-conditions a {
    text-decoration: none;
    color: rgb(2, 136, 209);
    height: 200px;
  }
  
  .gTfXxU {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    background: rgb(31, 39, 43);
    width: 55%;
    left: 22.5%;
  }
  
  .gTfXxU p {
    font-weight: bold;
    color: rgb(129, 140, 148);
    font-size: 16px;
  }
  
  .gTfXxU small {
    color: rgb(190, 193, 194);
    font-size: 14px;
  }
  
  .gTfXxU button {
    background: rgb(2, 136, 209);
    border-radius: 8px;
    padding: 13px 42px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  
  